/* h1{
    background-color: black;
    color: blanchedalmond;
    
}
input[type]{
    border: 2px solid red ;
    
}
#tde{
    color: purple ;
}
a[href="Register.html"]
{
    color: palevioletred;
}
*{
    background-color: aqua;
}*/